<footer class="footer">
  <small>
    falleri.ch by Alexandra Flury und Dominic Senn
  </small>
  <nav>
    <ul>
      <li><%= link_to "Über uns", about_path %></li>
      <li><%= link_to "Kontakt", contact_path %></li>
    </ul>
  </nav>
</footer>